{
  "CALL_SIGN": "{{CALL_SIGN}}",
  "USER_INFO_TEXT": "{{USER_INFO_TEXT}}",

  "UDP_TARGET": "{{UDP_TARGET}}",
  "UDP_PORT_send": 1799,
  "UDP_PORT_list": 1799,

  "SSE_ENABLED": true,
  "SSE_HOST": "0.0.0.0",
  "SSE_PORT": 2981,

  "LAT": {{LAT}},
  "LONG": {{LONG}},
  "STAT_NAME": "{{STAT_NAME}}",
  "HOSTNAME": "{{HOSTNAME}}",

  "STORAGE_BACKEND": "sqlite",
  "DB_PATH": "/var/lib/mcapp/messages.db",
  "MAX_STORAGE_SIZE_MB": 100,
  "PRUNE_HOURS": 168,
  "STORE_FILE_NAME": "mcdump.json",

  "WEATHER_SERVICE": "dwd",

  "BLE_MODE": "remote",
  "BLE_REMOTE_URL": "http://127.0.0.1:8081",
  "BLE_API_KEY": "test-dev-key",
  "BLE_DEVICE_NAME": "",
  "BLE_DEVICE_ADDRESS": "",
  "BLE_READ_UUID": "6e400003-b5a3-f393-e0a9-e50e24dcca9e",
  "BLE_WRITE_UUID": "6e400002-b5a3-f393-e0a9-e50e24dcca9e",
  "BLE_HELLO_BYTES": "04102030"
}
