{
  "CALL_SIGN": "{{CALL_SIGN}}",
  "USER_INFO_TEXT": "{{USER_INFO_TEXT}}",

  "MESHCOM_IOT_TARGET": "{{MESHCOM_IOT_TARGET}}",

  "LAT": {{LAT}},
  "LONG": {{LONG}},
  "STAT_NAME": "{{STAT_NAME}}",

  "DB_PATH": "/var/lib/mcapp/messages.db",
  "PRUNE_HOURS": 720,
  "PRUNE_HOURS_POS": 192,
  "PRUNE_HOURS_ACK": 192,

  "BLE_API_KEY": ""
}
